@import url('https://fonts.cdnfonts.com/css/tw-cen-mt-std');
@import url('hamburger.css');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-black: #000000;
  --color-aqua: aqua;
  --color-white: #fff;
  --color-light: #eaf6ff;
  --color-light-green: #66e187;
}
/* h1, h2, p {
  color: var(--color-white);
} */

body {
  font-family: 'Tw Cen MT Std', sans-serif;
  font-weight: 400;
}
body.overflow {
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.hide-desctop {
  display: none;
}
.header-nav__logo {
  position: relative;
  top: 2px;
}
.container {
  max-width: 1436px;
  margin: 0 auto;
}
.big-logo {
  display: inline-block;
  margin: 0 0.5rem;
  animation: fadein;
  animation-duration: 5s;
  padding: 20px;
}
.basic-head {
  display: inline-block;
  margin: 0 0.5rem;
  font-family: 'Tw Cen MT Std', sans-serif;
  font-size: 68px;
  word-spacing: 7px;
  font-weight: 400;
}
.header {
  padding: 10px 0;
}
.header-nav {
  display: flex;
  margin: 0 auto;
  width: 1436px;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.header-menu li a {
  font-size: 24px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.header-menu li a:hover {
  color: #3f91cf;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--color-black);
}
nav li {
  color: var(--color-black);
}
.header-menu {
  display: flex;
  gap: 64px;
  margin-left: auto;
}
a {
  text-decoration: none;
  color: var(--color-black);
}
a:hover {
  color: var(--color-aqua);
}
.common-bg {
  background-image: url(../images/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.background-section {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 272px;
}
.parag {
  padding: 20px;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  font-family: 'Tw Cen MT Std', sans-serif;
}
.big-logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
h1 {
  color: var(--color-white);
  font-size: 32px;
}
.cucumer-h {
  display: flex;
  border-radius: 20px;
  background-color: var(--color-light);
  margin: 0 auto;
  margin-top: 162px;
}
.cucumer-h-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.cucumber-h-img {
  display: flex;
  justify-content: center;
}
.other-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 75%; */
  margin: 0 auto;
  width: 1436px;
}
.ogir {
  height: 300px;
  width: 220px;
  margin-left: 20px;
  border-radius: 20px;
}

/* .ogir2 {
  height: 300px;
  width: 220px;
  margin-left: 20px;
} */

.first-section {
  margin-bottom: 162px;
}
.swiper-pagination-bullet:nth-child(n + 4) {
  display: none;
}

.button {
  width: 215px;
  height: 81px;
  border: none;
  border-radius: 12px;
  margin-top: 262px;
  margin-left: 222px;
  background-color: var(--color-light-green);
  color: var(--color-light);
  font-size: 22px;
  /* background-image: url(../images/btn.png); */
  text-align: center;
}

.btn-contact {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'Tw Cen MT Std', sans-serif;
  width: 215px;
  height: 81px;
  border: none;
  border-radius: 12px;
  background-color: #53b8a8;
  color: var(--color-light);
  font-size: 38px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-30%, -50%);
  z-index: 1;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.cucumber-h-block {
  background-color: #eaf6ff;
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
}

.other-section__block {
  display: flex;
  width: 1436px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.image-container {
  position: relative;
  flex: 1 1 15%;
}
.other-section__block {
  flex: 1 1 85%;
}
.image-container img {
  display: block;
  position: absolute;
  width: 301px;
  height: 301px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: unset;
}
.image-container .button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.two-section {
  display: flex;
  height: 1062px;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/bg2.png);
  background-size: cover;
  padding: 160px 0;
  /* background-color: #001427; */
}
.container-two-double {
  display: flex;
  flex-direction: row;
}

.ogir2 {
  border-radius: 20px;
}

.prev {
  border-radius: 50%;
  position: relative;
}
.title2 {
  margin-bottom: 60px;
  font-size: 32px;
  color: var(--color-white);
}
.product {
  margin-top: 160px;
}
.product-icon a img {
  display: block;
  margin: 0 auto;
}
.product-section {
  padding-bottom: 140px;
}
.product-icon a div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-icon a div h3 {
  font-size: 36px;
  font-weight: 400;
}
.product-icon a div p {
  font-weight: 400;
  font-size: 22px;
}

.title-product {
  font-family: 'Tw Cen MT Std', sans-serif;
  text-align: center;
  color: var(--color-white);
  margin: 0 auto;
  padding: 40px;
  font-size: 48px;
  font-weight: 400;
}
.product-icon {
  display: flex;
  justify-content: space-between;
}
.product-icon a {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
}
.parag-two {
  color: var(--color-white);
}
.two-section {
  margin-top: 0;
  /* height: 700px; */
  /* background-color: #001427; */
}
.two-section-text {
  color: var(--color-white);
}
.two-section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.paragraf .parag {
  font-size: 24px;
  margin-bottom: 0;
}

.vision {
  display: flex;
  flex-direction: column;
}
.vision-mission {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.paragraf {
  font-size: 14px;
  color: var(--color-white);
  justify-content: center;
}

.vision-head {
  font-family: 'Tw Cen MT Std', sans-serif;
  font-size: 48px;
  color: var(--color-white);
  margin: 0 auto;
  margin-bottom: 60px;
  font-weight: 400;
}
.img-two-section {
  padding-left: 32px;
}
.img-two-double {
  padding-right: 20px;
}
.container-two-double {
  margin-right: 110px;
}
.section-three {
  /* height: 484px; */
  background-color: #001427;
  padding: 30px;
}
.section-three-food {
  display: flex;
  flex-direction: row;
  gap: 23px;
}
.superfood {
  background: linear-gradient(to left, #3d8fcd, #112a3f);
  width: 464px;
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  position: relative;
}
.superfood2 {
  display: flex;
  flex-direction: column;
  background: #eaf6ff;
  max-width: 708px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  position: relative;
}
.super-foo {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #53b8a8;
  font-size: 24px;
  font-weight: 400;
  padding: 12px 23px;
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;
  color: #fff;
}
.foo-p1 {
  font-size: 24px;
  font-weight: 400;
}
.client-head {
  color: var(--color-light);
  font-size: 48px;
  font-weight: 400;
}
.acquaculture {
  display: flex;
  flex-direction: column;
  color: var(--color-light);
}
.four-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 100px;
  padding: 66px 0;
}
.four-section .clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 526px;
  height: 526px;
  gap: 30px;
}
.aqua-p {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.aqua-p p {
  font-weight: 400;
  font-size: 24px;
}
.acquaculture .client-head {
  margin-bottom: 55px;
}
.clients-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.four-section .clients .clients-img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.client-p {
  color: var(--color-white);
  font-weight: 400;
  font-size: 24px;
}
.superfood span {
  color: var(--color-light-green);
}

.section-four {
  background-color: #001427;
}
.container-two {
  align-items: center;
  display: flex;
  padding-bottom: 100px;
}

.five-section {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 20, 39, 1),
      rgba(0, 20, 39, 0)
    ),
    url(../images/block5.png);
  background-size: 100% 50%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: top, center;
}

.footer {
  background-color: #001428;
  padding: 160px 0 190px;
}
.footer h2 {
  color: var(--color-white);
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 60px;
  text-align: center;
}

.foo-contact {
  margin-bottom: 60px;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.foo-text-parag {
  color: var(--color-white);
}
.footer-center {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.foo-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 88px;
  background-color: #53b8a8;
  color: var(--color-white);
  border-radius: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}

.foo-text-parag {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
.foo-head {
  color: #3f91cf;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}
.foo-btn:hover {
  background-color: #3f91cf;
  color: #fff;
}

.svg-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #536b7c;
}

.two-section-text p {
  font-size: 24px;
  line-height: 26px;
}

.four-acss .container div p {
  font-size: 24px;
  line-height: 26px;
  color: #fff;
}

.four-acss .container {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.four-acss .container div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.four-acss {
  padding-top: 50px;
  padding-bottom: 75px;
}

.animated-container {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  overflow: hidden;
}

.animated-letter {
  display: inline-block;
  animation: height-scale 1.5s ease-in-out infinite;
}

@keyframes height-scale {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.5);
  }
}

/* Задержка для создания последовательного эффекта */
.animated-letter:nth-child(1) {
  animation-delay: 0s;
}

.animated-letter:nth-child(2) {
  animation-delay: 0.1s;
}

.animated-letter:nth-child(3) {
  animation-delay: 0.2s;
}

.animated-letter:nth-child(4) {
  animation-delay: 0.3s;
}

.animated-letter:nth-child(5) {
  animation-delay: 0.4s;
}

.animated-letter:nth-child(6) {
  animation-delay: 0.5s;
}

/* Анимация вращения */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Стиль для контейнера с изображением и кнопкой */
.image-container {
  position: relative;
  width: 301px;
  height: 301px;
  margin: 0 auto; /* Центровка контейнера */
}

/* Стиль и анимация для изображения */
.image-container img,
.clients-img {
  animation: rotate 4s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

/* .clients-img {
 
} */
.basic-head {
  opacity: 0; /* Скрыть текст изначально */
  white-space: nowrap; /* Чтобы текст не переносился */
}

.word {
  display: inline-block;
  position: relative;
}

.letter {
  display: inline-block;
  transform-origin: bottom;
  transform: scaleY(0); /* Изначально высота каждой буквы равна нулю */
}
.adress-link {
  font-family: 'Tw Cen MT Std';
  font-size: 24px;
  color: var(--color-light-green);
}
.swiper {
  overflow: hidden;
}
.img-vision .swiper-button-next:after {
  position: absolute;
  content: '';
  height: 48px;
  width: 48px;
  background-image: url(../images/arrow_left.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-vision .swiper-button-prev:after {
  position: absolute;
  content: '';
  height: 48px;
  width: 48px;
  background-image: url(../images/arrow_right.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.btn-contact:hover {
  transition: all 0.3 ease-in-out;
  background-color: #327e72;
  color: var(--color-white);
}
.cucumber-h {
  animation-duration: 3s;
}
.icon {
  animation-duration: 5s;
}

.img-vision .swiper-pagination {
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
.img-vision .swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: #536b7c;
  width: 6px;
  height: 6px;
  transform: translateY(-50%);
}
.img-vision .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #536b7c;
}

.img-vision .swiper-horizontal > .swiper-pagination-bullets,
.img-vision .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -5px !important;
}

.img-vision .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
}
.img-vision .swiper-pagination .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  position: relative;
  top: 4px;
}
.paragraf {
  margin: 0 0.5rem;
  animation-duration: 4s;
}
.product-icon {
  margin: 0 0.5rem;
  animation-duration: 4s;
}
.title-product {
  margin: 0 0.5rem;
  animation-duration: 5s;
}
.two-section-text {
  margin: 0 0.5rem;
  animation-duration: 5s;
}
.img-two-section {
  margin: 0 0.5rem;
  animation-duration: 5s;
}
.img-two-double {
  margin: 0 0.5rem;
  animation-duration: 5s;
}

.two-section-text {
  margin: 0 0.5rem;
  animation-duration: 5s;
}
.foo-p1 {
  padding: 10px;
}

.section-three-food {
  margin: 0 0.5rem;
  animation-duration: 6s;
}
.four-acss {
  margin: 0 0.5rem;
  /* animation-delay: 3s; */
  animation-duration: 6s;
}
.ogir2 {
  margin: 0 0.5rem;
  animation-duration: 5s;
}
.clients-img {
  animation-duration: 5s;
}

.img-vision .swiper {
  max-width: 705px;
  padding: 27px;
}

.img-vision .swiper-button-prev {
  left: 21px;
}

.img-vision .swiper-button-next {
  right: 10px;
}

.img-vision.img-vision-her .swiper {
  max-width: 240px;
  padding: 0;
}

.img-vision.img-vision-her .swiper-pagination .swiper-pagination-bullet-active,
.img-vision.img-vision-her .swiper-pagination .swiper-pagination-bullet {
  background-color: #132c41;
}

.img-vision.img-vision-her .swiper-horizontal > .swiper-pagination-bullets,
.img-vision.img-vision-her
  .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 5px !important;
}

.img-vision.img-vision-her .swiper-button-prev {
  left: 11px;
}
.img-vision.img-vision-her .swiper-button-next {
  right: 11px;
}

.superfood2__svg {
  position: absolute;
  width: 100%;
  height: 80%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  bottom: 0;
  z-index: -1;
}

.foo-text.foo-text {
  align-self: flex-start;
}

@media (max-width: 1700px) {
  .other-section__block {
    flex: 1 1 75%;
  }
  .btn-contact {
    left: 38%;
  }
}

@media (max-width: 1600px) {
  .other-section__block {
    flex: 1 1 50%;
  }
  .btn-contact {
    left: 25%;
  }
}

@media (max-width: 1500px) {
  .vision,
  .two-section {
    padding-left: 15px;
    padding-right: 15px;
  }
  .four-section {
    padding: 15px 15px;
  }
  .product-section .container,
  .header .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-nav {
    width: 100%;
  }
  .other-section {
    width: 100%;
  }
  .container-two-double {
    margin-right: 0;
  }
  .two-section {
    height: auto;
    padding: 100px 0;
  }
}

@media (max-width: 1400px) {
  .header-menu li a {
    font-size: 22px;
  }
  .foo-btn {
    width: 185px;
    height: 65px;
    font-size: 24px;
  }
  .foo-text-parag {
    font-size: 24px;
  }
  .foo-head {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .footer h2 {
    font-size: 42px;
    margin-bottom: 30px;
  }
  .clients-icon.clients-icon-1 img {
    height: 48px;
  }
  .client-p {
    font-size: 20px;
    line-height: 20px;
  }
  .aqua-p p {
    font-size: 20px;
    line-height: 22px;
  }
  .client-head {
    font-size: 42px;
  }
  .acquaculture .client-head {
    margin-bottom: 30px;
  }
  .img-superfood.superfood-2 {
    height: 315px;
  }
  .foo-p1 {
    font-size: 20px;
    padding: 10px 0 25px;
  }
  .product-icon a img {
    height: 70px;
  }
  .img-two-double {
    padding-right: 5px;
  }
  .img-two-double {
    height: 260px;
  }
  .img-two-section {
    padding-left: 10px;
    height: 260px;
  }
  .product-icon a div p {
    font-size: 20px;
  }
  .title-product {
    font-size: 40px;
  }
  .product-icon a div h3 {
    font-size: 30px;
  }
  .paragraf .parag {
    font-size: 22px;
  }
  .vision-head {
    font-size: 40px;
    margin-bottom: 50px;
  }
  .img-vision.img-vision-her .swiper-button-prev {
    left: 7px;
  }
  .img-vision .swiper-button-prev:after {
    height: 38px;
    width: 40px;
  }
  .img-vision .swiper-button-next:after {
    height: 38px;
    width: 38px;
  }
  .first-section {
    margin-bottom: 70px;
  }
  .img-vision.img-vision-her .swiper-button-next {
    right: 43px;
  }
  .img-vision .swiper-pagination {
    left: 52% !important;
  }
  .img-vision.img-vision-her img {
    height: 240px;
  }
  .cucumber-h-block {
    height: 240px;
  }
  .cucumber-h-img img {
    height: 60px;
  }
  .parag {
    padding: 15px;
    font-size: 24px;
  }
  .big-logo {
    height: 115px;
  }
  .basic-head {
    font-size: 48px;
  }
  .background-section {
    padding-top: 100px;
  }

  .image-container img,
  .clients-img {
    left: 28%;
    width: 240px;
    height: 240px;
    top: 25px;
  }
  .four-section .clients-img.clients-icon-1 {
    height: 410px;
    width: 410px;
    left: 11%;
    top: 14%;
  }

  .btn-contact {
    left: 47%;
    width: 180px;
    height: 60px;
    font-size: 30px;
  }
  .four-section {
    gap: 25px;
  }
  .product-section {
    padding-bottom: 100px;
  }
  .footer {
    padding: 80px 0 80px;
  }
  .product {
    margin-top: 60px;
  }
  .vision-mission {
    gap: 30px;
    align-items: center;
  }

  .vision-mission .img-vision img {
    height: 300px;
  }
  .img-vision .swiper {
    max-width: 630px;
  }
  .super-foo {
    font-size: 22px;
    padding: 8px 16px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

@media (max-width: 1300px) {
  .btn-contact {
    left: 48%;
  }
}

@media (max-width: 1199px) {
  .section-three-food {
    flex-wrap: wrap;
  }
  .section-three-food {
    justify-content: center;
  }
  .two-section {
    flex-wrap: wrap;
  }
  .four-section {
    flex-wrap: wrap;
  }
  .four-acss .container {
    flex-wrap: wrap;
  }
  .container-two {
    flex-wrap: wrap;
  }
  .product-icon {
    flex-wrap: wrap;
    gap: 10px;
  }
  .vision-mission {
    flex-wrap: wrap;
    justify-content: center;
  }
  .other-section {
    flex-wrap: wrap;
  }
  .other-section__block {
    flex: 1 1 100%;
  }
  .image-container {
    flex: 1 1 100%;
  }
  .btn-contact {
    left: unset;
    transform: unset;
    position: unset;
  }
  .image-container img,
  .clients-img {
    display: none;
  }
  .image-container {
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 84px;
  }
  .container-two-double {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .clients-img.clients-icon-1 {
    display: block;
  }
  .basic-head {
    font-size: 52px;
  }
  .container-two {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  .header-menu {
    gap: 30px;
  }
  .basic-head {
    font-size: 46px;
  }
}

@media (max-width: 767px) {
  .basic-head {
    font-size: 36px;
  }
  .background-section {
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .parag {
    padding: 10px;
    font-size: 20px;
  }
  .header {
    padding: 5px 0;
  }
  .header-menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-150vw);
    transition: all 0.5s ease-in-out;
    height: 100vh;
    background-color: #132c41;
    width: 75%;
    max-width: 315px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;
  }
  .header-menu li a {
    display: block;
    color: #fff;
    font-size: 24px;
    border-bottom: 1px solid #fff;
    padding: 15px;
  }
  .header-menu {
    gap: 0;
  }
  .footer h2 {
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 30px;
  }
  .footer {
    padding: 60px 0 60px;
    overflow: hidden;
  }
  .footer-logo {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
  }
  .footer-logo svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .footer-logo svg:first-of-type {
    left: -18%;
  }
  .footer-logo svg:last-of-type {
    right: -18%;
  }
  .foo-text.foo-text {
    align-self: center;
  }
  .foo-head {
    margin-bottom: 24px;
  }
  .foo-text-parag {
    font-size: 20px;
  }
  .adress-link {
    font-size: 20px;
    display: block;
    margin-top: 10px;
  }
  .hamburger-inner {
    display: block;
  }
  .header-nav {
    justify-content: space-between;
  }
  .header-menu.header-menu__open {
    transform: translateX(0);
  }
  .container-two-double {
    gap: 15px;
    flex-direction: column-reverse;
  }
  .container-two-double__img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 11px;
    column-gap: 3px;
  }
  .container-two-double__img img {
    flex: 1 1 auto;
    object-fit: cover;
    height: auto;
  }
  .two-section .img-two-double {
    padding-right: 0;
    padding-left: 0;
    margin: 0;
  }
  .container-two-double__img img {
    height: 260px;
    object-fit: contain;
  }
  .container-two-double__img img:last-child {
    width: 50%;
  }
  .two-section {
    padding: 60px 15px;
  }
  .svg-icon-m {
    margin-bottom: 15px;
  }
  .container-two {
    padding-bottom: 60px;
  }
  .img-two-section {
    padding-left: 0;
    object-fit: contain;
  }

  .two-section-new-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
  }
  .product-section {
    padding-bottom: 0;
  }
}

@media (max-width: 576px) {
  .img-vision .swiper-horizontal > .swiper-pagination-bullets,
  .img-vision .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0px !important;
  }
  .img-vision .swiper-pagination {
    left: 50% !important;
  }
  .img-vision .swiper {
    padding: 0;
    padding-bottom: 30px;
  }
  .img-vision .swiper {
    max-width: 375px;
  }
  .ogir2 {
    margin: 0;
  }
  .vision-mission .img-vision img {
    height: 240px;
    width: 100%;
    object-fit: cover;
  }
  .img-vision.img-vision-her img {
    height: 240px;
    width: 100%;
    object-fit: cover;
  }
  .img-vision.img-vision-her .swiper {
    max-width: 375px;
    padding: 0;
    padding-bottom: 30px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
  .image-container {
    margin-top: 40px;
  }
  .background-section {
    padding-top: 80px;
  }
  .paragraf .parag {
    font-size: 20px;
    line-height: 22px;
  }
  .paragraf {
    margin: 0;
  }
  .parag {
    padding: 0;
    padding-bottom: 15px;
  }
  .vision-head {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .btn-contact {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    font-size: 24px;
  }
  .basic-head {
    font-size: 28px;
  }
  .cucumber-h-block {
    height: auto;
  }
  .first-section {
    margin-bottom: 20px;
  }
  .parag {
    color: #fff;
    font-size: 20px;
    line-height: 22px;
  }
  .other-section__block {
    flex-wrap: wrap;
  }
  .cucumber-h-block {
    background-color: transparent;
  }
  .product-icon a img {
    height: 56px;
  }
  .product-icon a div {
    gap: 5px;
  }
  .product-icon a div h3 {
    font-size: 24px;
  }
  .product-icon a div p {
    font-size: 18px;
  }
  .title-product {
    font-size: 32px;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
  }
  .footer-logo svg:first-of-type {
    left: -30%;
  }
  .footer-logo svg:last-of-type {
    right: -30%;
  }
  .foo-text.foo-text {
    z-index: 1;
  }
  .foo-btn {
    width: 100%;
    height: 48px;
    border-radius: 8px;
  }
  .footer-center.foo-text svg {
    width: 28px;
    height: 28px;
  }
  .footer-center.foo-text {
    padding-left: 15px;
    padding-right: 15px;
  }
  .client-head {
    font-size: 32px;
  }
  .five-section {
    padding-bottom: 50px;
  }
  .four-acss > div svg {
    display: none;
  }
  .four-acss .container {
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
  }
  .four-acss .container div p {
    font-size: 20px;
  }
  .super-foo {
    position: unset;
    align-self: flex-start;
  }
  .superfood {
    flex-direction: column;
  }
  .superfood {
    width: 100%;
  }
  .section-three-food {
    margin: 0;
  }
  .hide-mobile {
    display: none;
  }
  .hide-desctop {
    display: block;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .basic-head {
    white-space: unset;
    text-align: center;
  }
  .product-icon {
    width: 60%;
    margin: 0 auto;
  }
  .two-section-new-img .img-two-section {
    width: 48%;
    height: 240px;
    margin: 0;
  }

  .section-three-food {
    margin: 0;
  }
  .section-three {
    padding: 30px 15px;
  }
  .four-section .clients-img.clients-icon-1 {
    left: 7%;
    height: 390px;
    width: 390px;
    top: 9%;
  }
  .four-acss {
    padding-bottom: 0px;
  }
  .client-p {
    font-size: 18px;
    line-height: 20px;
  }
  .four-section .clients {
    gap: 15px;
    width: 100%;
    height: 470px;
  }
  .container-two-double__img img {
    width: 48%;
    height: 240px;
  }
  .two-section-text p {
    font-size: 20px;
    line-height: 22px;
  }
}
@media (max-width: 440px) {
  .footer-logo svg:first-of-type {
    left: -40%;
  }
  .footer-logo svg:last-of-type {
    right: -40%;
  }
  .four-section .clients-img.clients-icon-1 {
    left: 4%;
  }
  .client-p {
    max-width: 275px;
  }
  .four-section .clients-img.clients-icon-1 {
    height: 375px;
    width: 375px;
  }
}

@media (max-width: 430px) {
  .four-section .clients-img.clients-icon-1 {
    height: 360px;
    width: 360px;
    top: 12%;
  }
}

@media (max-width: 375px) {
  .four-section .clients-img.clients-icon-1 {
    height: 345px;
    width: 345px;
    left: 0;
  }
  .product-icon {
    width: 70%;
  }
  .container-two-double__img {
    column-gap: 8px;
    row-gap: 2px;
  }
}
